:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: var(--s-c-darkest);
  background-color: var(--p-c-lightest);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --hue-p: 0;
  --sat-p: 0%;
  --lum-p: 0%;
  --hue-s: 0;
  --sat-s: 0%;
  --lum-s: 100%;
  --hue-a: 0;
  --sat-a: 0%;
  --lum-a: 50%;
  --light: 10%;
  --lighter: 15%;
  --lightest: 20%;
  --dark: 10%;
  --darker: 15%;
  --darkest: 20%;
  --primary-color: hsl(var(--hue-p), var(--sat-p), var(--lum-p));
  --p-c-light: hsl(
    var(--hue-p),
    var(--sat-p),
    calc(var(--lum-p) + var(--light))
  );
  --p-c-lighter: hsl(
    var(--hue-p),
    var(--sat-p),
    calc(var(--lum-p) + var(--lighter))
  );
  --p-c-lightest: hsl(
    var(--hue-p),
    var(--sat-p),
    calc(var(--lum-p) + var(--lightest))
  );
  --p-c-dark: hsl(var(--hue-p), var(--sat-p), calc(var(--lum-p) - var(--dark)));
  --p-c-darker: hsl(
    var(--hue-p),
    var(--sat-p),
    calc(var(--lum-p) - var(--darker))
  );
  --p-c-darkest: hsl(
    var(--hue-p),
    var(--sat-p),
    calc(var(--lum-p) - var(--darkest))
  );
  --secondary-color: hsl(var(--hue-s), var(--sat-s), var(--lum-s));
  --s-c-light: hsl(
    var(--hue-s),
    var(--sat-s),
    calc(var(--lum-s) + var(--light))
  );
  --s-c-lighter: hsl(
    var(--hue-s),
    var(--sat-s),
    calc(var(--lum-s) + var(--lighter))
  );
  --s-c-lightest: hsl(
    var(--hue-s),
    var(--sat-s),
    calc(var(--lum-s) + var(--lightest))
  );
  --s-c-dark: hsl(var(--hue-s), var(--sat-s), calc(var(--lum-s) - var(--dark)));
  --s-c-darker: hsl(
    var(--hue-s),
    var(--sat-s),
    calc(var(--lum-s) - var(--darker))
  );
  --s-c-darkest: hsl(
    var(--hue-s),
    var(--sat-s),
    calc(var(--lum-s) - var(--darkest))
  );
  --accent-color: hsl(var(--hue-a), var(--sat-a), var(--lum-a));
  --a-c-light: hsl(
    var(--hue-a),
    var(--sat-a),
    calc(var(--lum-a) + var(--light))
  );
  --a-c-lighter: hsl(
    var(--hue-a),
    var(--sat-a),
    calc(var(--lum-a) + var(--lighter))
  );
  --a-c-lightest: hsl(
    var(--hue-a),
    var(--sat-a),
    calc(var(--lum-a) + var(--lightest))
  );
  --a-c-dark: hsl(var(--hue-a), var(--sat-a), calc(var(--lum-a) - var(--dark)));
  --a-c-darker: hsl(
    var(--hue-a),
    var(--sat-a),
    calc(var(--lum-a) - var(--darker))
  );
  --a-c-darkest: hsl(
    var(--hue-a),
    var(--sat-a),
    calc(var(--lum-a) - var(--darkest))
  );
  overflow-x: hidden;
}

main {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  margin: 1rem;
  padding: 1rem;
}

.color-picker-container {
  display: flex;
  flex-direction: row;
}

.color-card-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 1rem;
  padding: 1rem;
}

.color-card {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 1fr);
  margin: 0.5rem;
  padding: 0.5rem;
  width: fit-content;
}

.color-card-item {
  margin: 0.5rem;
  padding: 1rem;
  place-items: center;
}

.color-button-text {
  text-shadow: 1px 1px 2px black;
  color: white;
}

.color-card-item:hover {
  box-shadow: 5px 5px 2px black;
  cursor: pointer;
}

.test-nav {
  display: flex;
  justify-content: center;
  text-align: center;
}

.nav-button {
  margin: 0.1rem;
  padding: 0.1rem;
}

.custom-color-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  place-content: center;
}

.test-comps {
  display: flex;
  flex-direction: column;
  border: 3px dotted var(--a-c-darkest);
  margin: 1rem;
  padding: 1rem;
  background-color: var(--p-c-lighter);
  width: 20%;
}

.test-comps:hover {
  box-shadow: 4px 4px 2px var(--p-c-darkest);
}

.test-header {
  text-shadow: 1px 1px 2px black;
}

.test-comp-card {
  border: 3px solid var(--a-c-darkest);
  border-radius: 5px;
  margin: 1rem;
  padding: 1rem;
  background-color: var(--p-c-light);
  place-items: center;
}

.test-comp-card-p {
  text-shadow: 1px 1px 2px black;
}

.test-comp-span {
  color: var(--s-c-darkest);
  margin-bottom: 0.3rem;
}

.test-button {
  width: fit-content;
  background-color: var(--secondary-color);
  border-color: var(--a-c-darkest);
  cursor: pointer;
  text-shadow: 1px 1px 2px black;
  border-radius: 4px;
}

.test-button:hover {
  filter: brightness(120%);
}

.primary-color-bg {
  background-color: var(--primary-color);
}

.secondary-color-bg {
  background-color: var(--secondary-color);
}

.accent-color-bg {
  background-color: var(--accent-color);
}

.button-main-color:hover {
  cursor: pointer;
  filter: brightness(120%);
}

a {
  color: var(--p-c-darkest);
}

/*# sourceMappingURL=app.css.map */
